/*Fonts*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/quicksand-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/quicksand-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/quicksand-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/quicksand-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/quicksand-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/quicksand-v30-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/quicksand-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/quicksand-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/quicksand-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/quicksand-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/quicksand-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/quicksand-v30-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/patrick-hand-sc-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/patrick-hand-sc-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/patrick-hand-sc-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/patrick-hand-sc-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/patrick-hand-sc-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/patrick-hand-sc-v13-latin-regular.svg#PatrickHandSC') format('svg'); /* Legacy iOS */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-color: #FFAC61;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFAC61' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ffa85e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffa45b' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ffa058' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff9c56' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ff9854' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff9451' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ff904f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff8c4d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ff874c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff834a' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ff7e49' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff7a48' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ff7547' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff7046' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ff6b45' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff6645' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ff6144' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff5b44' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ff5544' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FF4F44' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  /* background by SVGBackgrounds.com */
  justify-content: center;
  display: flex;
  width:100%;
  min-height:100vh;
}
h3, h5{
  font-family: 'Patrick Hand SC', sans-serif;
}